/* html {
    height: 100vh;
    background: linear-gradient( 225deg, #d0ffef, #12ffb4);
} */
/* 
html {
    height: 100vh;
    background: linear-gradient( 225deg, #d4fffa, #00ffe1);
} */
/* html {
    height: 100vh;
    background: linear-gradient( 225deg, #b6f9ff, #00eaff);
} */
html {
    height: 100vh;
    background: linear-gradient( 225deg, #c7f5ff, #07d2ff);
}

h1 {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 40%;
    transition: translate(-50%, -50%);
}
